@media (max-width: 550px) {
  .modalContainer {
    width: 90vw;
    left: 5%;
  }
}
@media (min-width: 550px) {
  .modalContainer {
    width: 60vw;
    left: 20%;
  }
}
@media (min-width: 735px) {
  .modalContainer {
    width: 40vw;
    left: 30%;
  }
}
.tasksModal {
  display: none;
}
.tasksModal.visible {
  display: block;
}
.tasksModal .modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.tasksModal .modalContainer {
  height: 90vh;
  z-index: 10;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  top: 5%;
}
.tasksModal .modalContainer i, .tasksModal .modalContainer .modalBottom, .tasksModal .modalContainer select, .tasksModal .modalContainer .upload {
  cursor: pointer;
}
.tasksModal .modalContainer input.empty {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}
.tasksModal .modalContainer .taskName, .tasksModal .modalContainer .modalBottom {
  text-align: center;
  background-color: #242424;
  padding: 2rem 3rem;
  color: white;
  height: 10%;
}
.tasksModal .modalContainer .taskName {
  border-radius: 20px 20px 0 0;
}
.tasksModal .modalContainer .taskName .name {
  font-size: 1.6rem;
  background: transparent;
  border: none;
}
.tasksModal .modalContainer .taskName .close {
  font-size: 2rem;
}
.tasksModal .modalContainer .content {
  padding: 2rem 3rem;
  background-color: white;
  color: #242424;
  overflow-y: scroll;
  height: 80%;
}
.tasksModal .modalContainer .content div.img {
  height: auto;
  overflow: auto;
}
.tasksModal .modalContainer .content div.img input {
  width: 100%;
}
.tasksModal .modalContainer .content div.img label {
  padding: 1rem 2rem;
  width: 15rem;
}
.tasksModal .modalContainer .content div.img label:hover {
  background-color: #111010;
}
.tasksModal .modalContainer .content button, .tasksModal .modalContainer .content label {
  font-weight: normal;
  font-size: 1.3rem;
  color: white;
  background-color: #242424;
  border-radius: 30px;
}
.tasksModal .modalContainer .content button i, .tasksModal .modalContainer .content label i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.tasksModal .modalContainer .content button {
  padding: 0;
  text-align: center;
  border: none;
  text-transform: none;
}
.tasksModal .modalContainer .content button:hover {
  background-color: #111010;
}
.tasksModal .modalContainer .content input {
  height: 3.5rem;
}
.tasksModal .modalContainer .content > div {
  padding: 2.5rem 3rem;
}
.tasksModal .modalContainer .content > div p {
  margin-bottom: 1rem;
}
.tasksModal .modalContainer .content .label > div {
  margin-left: 0;
}
.tasksModal .modalContainer .content .checklist input {
  margin-left: 0.5rem;
}
.tasksModal .modalContainer .content .checklist i.check {
  font-size: 2rem;
}
.tasksModal .modalContainer .content .checklist .container {
  margin: 0 0 1.5rem 0;
}
.tasksModal .modalContainer .content .checklist .container i.check {
  margin-right: 1.3rem;
}
.tasksModal .modalContainer .content .priority select {
  background-color: #242424;
  color: white;
  border: none;
}
.tasksModal .modalContainer .content .priority select option {
  border: none;
  outline: none;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.tasksModal .modalContainer .content .progressBarContainer {
  border-radius: 30px;
  display: block;
  background-color: #e7e4dd;
}
.tasksModal .modalContainer .content .progressBar {
  display: block;
  height: 1em;
  width: 0%;
  border-radius: 30px;
  background-color: #242424;
}
.tasksModal .modalContainer .content .title {
  font-size: 1.9rem;
  margin-right: 2rem;
}
.tasksModal .modalContainer .modalBottom {
  cursor: pointer;
  width: 100%;
  position: inherit;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  /*   i {
        font-size: 2rem;
        margin-right: 1rem;
    } */
}
.tasksModal .modalContainer .modalBottom .text {
  font-size: 1.6rem;
}
.tasksModal .modalContainer .modalBottom:hover {
  background-color: #111010;
}/*# sourceMappingURL=tasksModal.css.map */