
$primaryLight: #ffffff;
$secondaryLight: #f0eee7;
$tertiaryLight: #d8d5cc;
$accentLight: #bab7b1;

$primaryDark: #e7e4dd;
$secondaryDark: #686b6d;
$tertiaryDark: #242424;
$accentDark: #111010;

.panelsContainer.row {
  padding : 7rem 7rem;
}

.panel {
  background-color: $primaryDark;
  min-height: 10%;
  max-height: 100%;
  border-radius: 20px;
  & div .columns {
    margin-left: 0;
  }
  & .tasks,  & .title, & .addTask{
    padding: 3rem 4rem;
  }
  & .tasks {
    overflow-y: scroll;
  }
  & .title, & .addTask {
    background-color: $tertiaryDark;
    text-align: center;
    color: white;
  }
  & .title {
    border-radius: 20px 20px 0 0;
  }
  & .addTask {
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    &:hover {
      
      background-color: #111010;
    }
    & i {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
} 




/* Scrollbar  chrome */
/* .panel::-webkit-scrollbar {
  width: 12px;
}

.panel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.panel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */