nav.menu.horizontal {
    background-color: #242424;
    line-height: 0;    
}

.projectListContainer{
    height: 100%;
}

ul.projectList{
    display: flow-root;
    margin: 0;
    & li {
        float: left;
        background-color: #242424;
        list-style: none;
        padding: 2em 1.5em;
        &:hover{
            background-color: #d8d5cc;
        }
        &.current{
            background-color: #686b6d;
        }
        & > a {
            text-decoration: none;
            color: white;
        }
    }
}

.menu.horizontal i {
    font-size: 2rem;
    padding: 1em 0 1em 1em;
}
