@mixin modal($theme, $generalColors) {

    @media (max-width: 550px) {
        .modalContainer {
            width: 95vw;
            left: 2.5%;
            .content {
                padding: 0;
                i.check {
                    font-size: 1.7rem;
                }
            }
        }
    }


    @media (min-width: 550px) {
        .modalContainer {
            width: 60vw;
            left: 20%;
            .content {
                padding: 2rem 3rem;
                i.check {
                    font-size: 2rem;
                }
            }
        }
    }


    @media (min-width: 735px) {
        .modalContainer {
            width: 50vw;
            left: 25%;
        }
    }

    @media (min-width: 1000px) {
        .modalContainer {
            width: 40vw;
            left: 30%;
        }
    }


    .modal {
        display: none;

        &.visible {
            display: block;
        }

        .modalBackground {
            background-color: rgba(0, 0, 0, .5);
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
        }

        .modalContainer {
            height: fit-content;
            z-index: 10;
            background-color: map.get($theme, "primary");
            border-radius: 30px;
            position: absolute;
            top: 5%;

            i,
            .modalBottom,
            select, 
            .upload {
                cursor: pointer;
            }

            input.empty {
                background-color: #fce4e4;
                border: 1px solid #cc0033;
                outline: none;
            }

            .taskName,
            .modalBottom {
                text-align: center;
                background-color: map.get($theme, "accentLight");
                padding: 2rem 3rem;
                color: map.get($generalColors, "fontColorLight");
            }

            .taskName {
                border-radius: 20px 20px 0 0;

                .name {
                    font-size: 1.6rem;
                    background: transparent;
                    border: none;
                }

                .close {
                    font-size: 2rem;
                    &:hover {
                        color: map.get($generalColors, "red");
                    }
                }
            }

            .content {
                background-color:  map.get($theme, "primary");
                color: map.get($generalColors, "fontColorDark");
                overflow-y: scroll;
                height: 70vh;
                div.img {
                    height: auto; // to wrap floated children
                    overflow: auto; // to wrap floated children

                    input {
                        width: 100%;
                    }
                }

                button,
                label {
                    font-weight: normal;
                    font-size: 1.3rem;
                    color: map.get($generalColors, "fontColorLight");
                    background-color: map.get($theme, "accentDark");
                    border-radius: 30px;

                    i {
                        font-size: 1.5rem;
                        margin-right: 1rem;
                    }
                }

                button {
                    padding: 0;
                    text-align: center;
                    border: none;
                    text-transform: none;

                    &:hover {
                        background-color: map.get($theme, "accentLight");
                    }

                }

                input {
                    height: 3.5rem;
                }

                &>div {
                    p {
                        margin-bottom: 1rem;
                    }

                    padding: 2.5rem 3rem;
                }
                .checklist {
                    .container { 
                        padding: 0;
                        margin: 0 0 1.5rem 0; 
                        .delete {
                            margin-left: 3rem;
                            color: map.get($theme, "tertiary");
                            &:hover {
                               color: map.get($generalColors, "red");
                            }
                        }
                        span {
                            margin-left: 1rem;
                        }
                    }
                    input, button { margin-left: 0.5rem; }
                    
                }

                .priority {
                    select {
                        background-color: map.get($theme, "accentDark");
                        color: map.get($generalColors, "fontColorLight");
                        border: none;
                        &:hover {
                            background-color: map.get($theme, "accentLight");
                        }
                        option {
                            border: none;
                            outline: none;
                            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
                        }
                    }
                }

                .progressBarContainer {
                    margin-bottom: 1.5rem;
                    border-radius: 30px;
                    display: block;
                    background-color:  map.get($theme, "secondary");
                }

                .progressBar {
                    display: block;
                    height: 1em;
                    width: 0%;
                    border-radius: 30px;
                    background-color: map.get($theme, "accentLight");
                }

                .title {
                    font-size: 1.9rem;
                    margin-right: 2rem;
                }
            }

            .modalBottom {
                cursor: pointer;
                width: 100%;
                border-radius: 0 0 20px 20px;

                .text {
                    font-size: 1.6rem;
                }

                i {
                    font-size: 2rem;
                    margin-right: 1rem;
                }

                &:hover {
                    background-color: map.get($theme, "accentDark");
                }

            }


        }
    }
}