@mixin panels($theme, $generalColors) {
  
 

  .panelsContainer.row {
    padding : 7rem 7rem;
     
    .panel {
      background-color:  map.get($theme, "primary");
      max-height: 100%;
      border-radius: 20px;
      div .columns {
        margin-left: 0;
      }
    
      .title, .addTask{
        padding: 3rem 4rem;
        background-color: map.get($theme, "accentLight");
        text-align: center;
        color: white;
      }
    
      .title {
        border-radius: 20px 20px 0 0;
      }
    
      .tasks {
        overflow-y: scroll;
        background: map.get($theme, "secondary");
        min-height: 5rem;
        padding: 2rem 1rem 1rem 1rem;
      }
      
      .addTask {
        border-radius: 0 0 20px 20px;
        cursor: pointer;
        &:hover {
          background-color: map.get($theme, "accentDark"); 
        }
        i {
          font-size: 2rem;
          margin-right: 1rem;
        }
      }
    }
  }
   
  @media (max-width: 750px) {
    .panelsContainer.row {
      padding : 3rem 2rem;
      .panel {
        margin-bottom: 1rem;
        .title, .addTask{
          padding: 1.5rem 2.5rem;
        }
      }
    }    
  }
}