nav.menu.horizontal.tabs {
    background-color: #242424;
    line-height: 0;  
    
    i {
        color:white;
        font-size: 2rem;
        padding: 1em 0 1em 1em;
    }

    .projectListContainer{
        height: 100%;
        padding: 0 2rem 0 2rem;
        ul.projectList{
            display: flow-root;
            margin: 0;
            li {
                cursor: pointer;
                color: white;
                float: left;
                background-color: #242424;
                list-style: none;
                padding: 2em 1.5em;
                &:hover{
                    background-color: #111010;
                }
                &.current{
                    background-color: #686b6d;
                }
            }
        }
    }  
}

 
