@import './css-skeleton/normalize.css', './css-skeleton/skeleton.css', './footer/footer.css', 
        './header/header.css', './tasks/tasks.scss';




@font-face {
    font-family: primaryFont;
    src: url(./assets/fonts/GOTHIC.TTF);
}



.s-one.column,
.s-one.columns                    { width: 4.66666666667%; }
.s-two.columns                    { width: 13.3333333333%; }
.s-three.columns                  { width: 22%;            }
.s-four.columns                   { width: 30.6666666667%; }
.s-five.columns                   { width: 39.3333333333%; }
.s-six.columns                    { width: 48%;            }
.s-seven.columns                  { width: 56.6666666667%; }
.s-eight.columns                  { width: 65.3333333333%; }
.s-nine.columns                   { width: 74.0%;          }
.s-ten.columns                    { width: 82.6666666667%; }
.s-eleven.columns                 { width: 91.3333333333%; }
.s-twelve.columns                 { width: 100%; margin-left: 0; }

@media (min-width: 750px) {
    .container { width: 80%; }
    .column, .columns { margin-left: 4%;}
    .columns:nth-child(odd), .columns:nth-child(odd) { margin-left: 4%; }
    .column:first-child, .columns:first-child { margin-left: 0; }

    .b-one.column,
    .b-one.columns                    { width: 4.66666666667%; }
    .b-two.columns                    { width: 13.3333333333%; }
    .b-three.columns                  { width: 22%;            }
    .b-four.columns                   { width: 30.6666666667%; }
    .b-five.columns                   { width: 39.3333333333%; }
    .b-six.columns                    { width: 48%;            }
    .b-seven.columns                  { width: 56.6666666667%; }
    .b-eight.columns                  { width: 65.3333333333%; }
    .b-nine.columns                   { width: 74.0%;          }
    .b-ten.columns                    { width: 82.6666666667%; }
    .b-eleven.columns                 { width: 91.3333333333%; }
    .b-twelve.columns                 { width: 100%; margin-left: 0; }
}

html, body {
    height: 100%;
}

.mainContainer {   
    flex: 1 0 auto; 
}

footer {
    flex-shrink: 0;    
}

body {
    font-family: primaryFont;
    display: flex;
    flex-direction: column;
    margin: 0;
    & * {
        margin: 0;
    }
    &.theme.light{
        $principalClaro: #ffffff;
        $secundarioClaro: #f0eee7;
        $terciarioClaro: #d8d5cc;
        $cuaterciarioClaro: #bab7b1;
    
        background-color: $principalClaro;     
    }
    &.theme.dark{
        $principalOscuro: #e7e4dd;
        $secundarioOscuro: #686b6d;
        $terciarioOscuro: #242424;
        $cuaterciarioOscuro: #111010;
    
    
        background-color: $terciarioOscuro; 
    }
}

ul {
    list-style: none;  
}

