@use "sass:map";
@import './css/css-skeleton/normalize', './css/css-skeleton/skeleton', './css/header',
        './css/footer', './css/horizontalMenu', './css/panels', './css/tasks', './css/modal';


@media (max-width: 750px) {
    .s-one.column,
    .s-one.columns                    { width: 4.66666666667%; }
    .s-two.columns                    { width: 13.3333333333%; }
    .s-three.columns                  { width: 22%;            }
    .s-four.columns                   { width: 30.6666666667%; }
    .s-five.columns                   { width: 39.3333333333%; }
    .s-six.columns                    { width: 48%;            }
    .s-seven.columns                  { width: 56.6666666667%; }
    .s-eight.columns                  { width: 65.3333333333%; }
    .s-nine.columns                   { width: 74.0%;          }
    .s-ten.columns                    { width: 82.6666666667%; }
    .s-eleven.columns                 { width: 91.3333333333%; }
    .s-twelve.columns                 { width: 100%; margin-left: 0; }
}
@media (min-width: 750px) {
    .container { width: 80%; }
    .column, .columns { margin-left: 4%;}
    .columns:nth-child(odd), .columns:nth-child(odd) { margin-left: 4%; }
    .column:first-child, .columns:first-child { margin-left: 0; }

    .b-one.column,
    .b-one.columns                    { width: 4.66666666667%; }
    .b-two.columns                    { width: 13.3333333333%; }
    .b-three.columns                  { width: 22%;            }
    .b-four.columns                   { width: 30.6666666667%; }
    .b-five.columns                   { width: 39.3333333333%; }
    .b-six.columns                    { width: 48%;            }
    .b-seven.columns                  { width: 56.6666666667%; }
    .b-eight.columns                  { width: 65.3333333333%; }
    .b-nine.columns                   { width: 74.0%;          }
    .b-ten.columns                    { width: 82.6666666667%; }
    .b-eleven.columns                 { width: 91.3333333333%; }
    .b-twelve.columns                 { width: 100%; margin-left: 0; }
}

@font-face {
    font-family: fontLight;
    src: url(./assets/fonts/GOTHIC.TTF);
}


@font-face {
    font-family: fontDark;
    src: url(./assets/fonts/Montserrat-Light.ttf);
}

$generalColors: (
    "fontColorDark": #111010,
    "fontColorMedium": #3f3f3f,
    "fontColorLight": #ffffff,
    "background": #ffffff,
    "backgroundDarker": #e7e4dd,
    "priorityLow": #66e25f,
    "priorityMedium": #ffc423,
    "priorityHigh": #ea1b59,
);

$lightTheme: (
    "primary": #fefefe,
    "secondary": #e8e8e8,
    "tertiary": #d0d0d0,
    "accentLight": #bababa,
    "accentDark": #a19fa1,
    "font": fontLight,
);

$darkTheme: (
    "primary": #a09d9d ,
    "secondary": #e7e4dd,
    "tertiary": #525252,
    "accentLight": #2d2d2d,
    "accentDark": #111010,
    "font": fontDark,
);

html, body {
    height: 100%;
}

.mainContainer {   
    flex: 1 0 auto; 
}

footer {
    flex-shrink: 0;    
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
 
    * {
        margin: 0;
        box-sizing: border-box;
    }

    ul { list-style: none; }  

    &.theme.light {
        font-family: map.get($lightTheme,"font");
        background-color: map.get($lightTheme,"primary");
        @include footer($lightTheme, $generalColors);
        @include header($lightTheme, $generalColors);
        @include horizontalMenu($lightTheme, $generalColors);
        @include panels($lightTheme, $generalColors);
        @include tasks($lightTheme, $generalColors);
        @include modal($lightTheme, $generalColors);
    }
    
    &.theme.dark {
        font-family: map.get($darkTheme,"font");
        background-color: map.get($darkTheme,"primary");
        @include footer($darkTheme, $generalColors);
        @include header($darkTheme, $generalColors);
        @include horizontalMenu($darkTheme, $generalColors);
        @include panels($darkTheme, $generalColors);
        @include tasks($darkTheme, $generalColors);
        @include modal($darkTheme, $generalColors);
    }
}




